spring:
  application:
    name: user-module
  security:
    oauth2:
      client:
        registration:
          google:
            scope:
              - email
              - profile
        provider:
          google:
            authorization-uri: https://accounts.google.com/o/oauth2/v2/auth
            token-uri: https://oauth2.googleapis.com/token
            user-info-uri: https://www.googleapis.com/oauth2/v3/userinfo
  threads:
    virtual:
      enabled: true
  cloud:
    aws:
      region:
        static: 'us-east-1'
  # Disable JPA/Liquibase when using DynamoDB
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.jdbc.DataSourceAutoConfiguration
      - org.springframework.boot.autoconfigure.orm.jpa.HibernateJpaAutoConfiguration
      - org.springframework.boot.autoconfigure.liquibase.LiquibaseAutoConfiguration

user:
  persistence:
    type: dynamodb
  dynamodb:
    table-name: users
    region: us-east-1
    # endpoint: http://localhost:8000  # Uncomment for local DynamoDB testing
verification:
  required: false
